%h3 My Communities Update
- @activities.each do |activity|
  .activity-feed
    - present activity, ActivityPresenter do |activity_presenter|
      .metadata
        %p
          #{activity_presenter.metadata}
        %p
          #{activity_presenter.text } 

